

div > p{
    color: white !important;
}
.css-18oyri8-StyledLabel-labelStyles{
    color: white !important;
    display: none !important;
}
.paypal-button-container{
    margin-top: 100px !important;
}
