@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.mainbackground{
  background-image: url('../public/Background.jpg');
  width: 100%;
  height: calc(100vh);
  background-repeat: no-repeat;
  background-size: cover;


  overflow: hidden;

}
header{
  position: fixed;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  color: white;
  z-index: 15;
}
.logo h1{
  font-weight: 700;
}
.haundredlanguage{
  z-index: -2;
  position: absolute;
  right: 45px;
  bottom: -65px;
  width: 340px;
  height: 400px;
  transform: rotate(15deg);
}
.ChatWithOtherPeople{
  z-index: -2;
  position: absolute;
  left: 45px;
  top: 35px;
  width: 360px;
  height: 400px;
  transform: rotate(-15deg);
}
.maintittle{
  backdrop-filter: blur(2px);
}
.maindesc{
  backdrop-filter: blur(2px);
}
.mainword{
  backdrop-filter: blur(2px);
}
.authform input{
  padding: 10px;
  background-color: rgb(241, 241, 241);
  width: 320px;


}
.startnowbtn{
  z-index: 15;
}
.lastname{
  text-transform: uppercase;
}
.clickheretoupload{

  width: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.profileuploader{
  background-image: url("../public/Uploadprofile.png");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileopen{
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
}
.exit{
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 16px;

}
.profileopenframe{
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: black;
}
.profilemenupic{
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 16px;
}
.ProfilePic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
}
.ProfilePictop{
  background-color: rgb(238, 238, 238);
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  background-size: cover;
}
.loaderimage{
  position: relative;
  background-color: rgb(238, 238, 238);
  min-width: 110px;
  min-height: 100px ;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
}
.loaderimage::before{
  content: '';
  width: 200%;
  height: 0px;
  background: none;
  box-shadow: 0px 0px 25px 6px rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  animation: Loading 0.8s infinite linear;
  transform: rotate(-30deg);
}

.loaderprofileimage{
  position: relative;
  background-color: rgb(238, 238, 238);
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
}
.loaderprofileimage::before{
  content: '';
  width: 200%;
  height: 0px;
  background: none;
  box-shadow: 0px 0px 25px 6px rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  animation: Loading 0.8s infinite linear;
  transform: rotate(-30deg);
}
.profileinfo{
  min-width: 100px;
}
.customselector{
  width: 100%;
  background-color: rgb(242, 242, 242);
  padding: 10px;
}
.dropdown{
  position: absolute;
  width: 100%;
  left: 0px;
  top:43px;

  height: 350px;
  background-color: rgb(242, 242, 242);
  color: black;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  align-items: start;
  z-index: 15;
}
.customselector input{

  background: none;
  border: 0px;
  outline: 0px;
}
.speaklanguagesflags{
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;

}
.searchchatpeople{
  padding: 10px;
  border-radius: 25px;
  border: 1px solid rgb(218, 218, 218);
  width: 95%;
}
.openeduser{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: white;
  left: 0px;
  top: 0px;
}
.sendmessagebox{
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.profilebg{
  box-shadow: 1px 1px 5px 2px rgb(234, 234, 234);
}
.backforprofile{
  position: absolute;
  left: 20px;
  top: 20px;
}
.usersfetchedlsit{
  box-shadow: 1px 1px 9px 3px rgb(225, 225, 225);
  border: 1px solid black;
}
@keyframes Loading {

  0%{
    left: -25px;
    top: -75%;
  }

  100%{

    top: 100%;
  }
  
}

.profilesloading::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background: none;
}

.profileimages{
  width: 110%;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;

}
.profileimages::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background: none;
}
@media (max-width:900px) {
  section{
    display: none !important;
  }
}
@media (max-width:500px) {
  section{
    display: none !important;
  }
  .headerbuttons{
    display: none;
  }
  .Menu{
    display: flex !important;
  }
  .learnlanguage{
    letter-spacing: 2px;
  }
}

