@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.mainbackground{
  background-image: url('../public/Background.jpg');
  width: 100%;
  height: calc(100vh);
  background-repeat: no-repeat;
  background-size: cover;


  overflow: hidden;

}
header{
  position: fixed;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  color: white;
  z-index: 15;
}
.logo h1{
  font-weight: 700;
}
.haundredlanguage{
  z-index: -2;
  position: absolute;
  right: 45px;
  bottom: -65px;
  width: 340px;
  height: 400px;
  transform: rotate(15deg);
}
.ChatWithOtherPeople{
  z-index: -2;
  position: absolute;
  left: 45px;
  top: 35px;
  width: 360px;
  height: 400px;
  transform: rotate(-15deg);
}
.maintittle{
  backdrop-filter: blur(2px);
}
.maindesc{
  backdrop-filter: blur(2px);
}
.mainword{
  backdrop-filter: blur(2px);
}
.authform input{
  padding: 10px;
  background-color: rgb(241, 241, 241);
  width: 320px;


}
.startnowbtn{
  z-index: 15;
}
.lastname{
  text-transform: uppercase;
}
.clickheretoupload{

  width: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.profileuploader{
  background-image: url("../public/Uploadprofile.png");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileopen{
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
}
.exit{
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 16px;

}
.profileopenframe{
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: black;
}
.profilemenupic{
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 16px;
}
.ProfilePic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
}
.ProfilePictop{
  background-color: rgb(238, 238, 238);
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  background-size: cover;
}
.loaderimage{
  position: relative;
  background-color: rgb(238, 238, 238);
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
}
.loaderimage::before{
  content: '';
  width: 200%;
  height: 0px;
  background: none;
  box-shadow: 0px 0px 25px 6px rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  animation: Loading 0.8s infinite linear;
  transform: rotate(-30deg);
}
.profilesloading{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}
.loaderprofileimage{
  position: relative;
  background-color: rgb(238, 238, 238);
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
}
.loaderprofileimage::before{
  content: '';
  width: 200%;
  height: 0px;
  background: none;
  box-shadow: 0px 0px 25px 6px rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  animation: Loading 0.8s infinite linear;
  transform: rotate(-30deg);
}

@keyframes Loading {

  0%{
    left: -25px;
    top: -75%;
  }

  100%{

    top: 100%;
  }
  
}

.profileimages{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}
.profileimages::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background: none;
}
@media (max-width:900px) {
  section{
    display: none !important;
  }
}
@media (max-width:500px) {
  section{
    display: none !important;
  }
  .headerbuttons{
    display: none;
  }
  .Menu{
    display: flex !important;
  }
  .learnlanguage{
    letter-spacing: 2px;
  }
}

